@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 5rem;
}

.card-data {
  height: 70vh;
  background-color: white;
  margin-top: 20px;
  margin-left: 5px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 2px grey;
}
.card-data-10 {
  height: 40vh;
  background-color: white;
  margin-top: 20px;
  margin-left: 5px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 2px grey;
}
.card-data-20 {
  height: 40vh;
  background-color: white;
  margin-top: 20px;
  margin-left: 5px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 2px grey;
}
.card-data-links {
  height: auto;
  background-color: white;
  margin-top: 20px;
  margin-left: 5px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 2px grey;
  color: blue;
}

.links-container {
 
}


@media (max-width:  728px) {
  .card-data-links {
    height: auto;
    padding: 1rem;
    background-color: white;
    margin-top: 20px;

    max-width: 100%;
    border-radius: 10px;
    box-shadow: 10px 5px 6px rgba(1, 1, 1, 0.1); /* Updated box shadow */
  }
  .link-content {
    /* Class for container element */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .container {
    margin: 0;
  }
  .links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-data {
    height: 70vh;
    padding: 1rem;
    background-color: white;
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 10px 5px 6px rgba(1, 1, 1, 0.1); /* Updated box shadow */
  }
  .card-data-10 {
    height: 70vh;
    padding: 1rem;
    background-color: white;
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 10px 5px 6px rgba(1, 1, 1, 0.1); /* Updated box shadow */
  }
  .card-data-20 {
    height: 70vh;
    padding: 1rem;
    background-color: white;
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 10px 5px 6px rgba(1, 1, 1, 0.1); /* Updated box shadow */
  }
}

.content {
  flex: 1;
  margin: 5rem 10rem;
}

.links {
  flex: 0 0 20%;
  max-width: 20%;
}

.roleBanner {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.roleTitle {
  font-size: 2em;
  margin-bottom: 10px;
}

.roleSubtitle {
  font-size: 1.5em;
}

.responsibilities {
  background-color: linear-gradient(to right, #0044b3, #0066ff);
  /* color: #fff; */
  color: black;
  border-radius: 0.6rem;
}
.background {
  background-color: "1DA8FF !important";
}

.home-container {
  display: flex;
 justify-content: center;
 flex-direction: row;
 margin-top: 10rem;
  
 
 
}
.card-style {
 margin-top: 1rem;
 width: 50%;
 gap:3rem
  
 
}
.home-linkStyle{
  width: 20%;
  margin-left: 10px;
}
/* style={{ marginRight: '5rem', marginTop: '1rem', width: '60%' }} */
.skeleton-loading{
  width:100%;
  display:flex;
  align-items:center;
   justify-content:center;
    flex-direction:column
}
.skeleton-loading-card{
  width:45%;
  display:flex;
  align-items:center;
   justify-content:center;
  margin-top: 4rem;
}

.artboard-demo {
  animation: slide-up 1s ease forwards;
  opacity: 0;
}

.email {
  animation: fade-in 1s ease forwards;
  opacity: 0;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
.term-services {
  background-color: #F7F8F9;
  width: 60%;
  padding: 20px;
  border-radius: 8px;
  color: black;
  max-height: 100vh;
  min-height: 50vh; /* You can adjust the minimum height as needed */
  overflow-y: auto; /* Adding scroll if content exceeds max height */
}

.term-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

@media screen and (max-width: 728px) {
  .term-services {
    background-color: #F7F8F9;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    color: black;
    height: auto;
  }.term-container{
    display: flex;
    flex-direction: column;
  }
  

}


@media screen and (max-width:  728px) {
  .home-container {
    flex-direction: column;
     margin-left: 0
  }
  .card-style {
    
    margin-top: 1;
    width: 100%;
  }

  .content-container {
    width: 100%;
    margin-left: 0;
  }

  .home-linkStyle{
    width: 100%;
    margin-left: 0;
  }
  .skeleton-loading-card{
    width: 100%;
    height: 100%;
  }
  
}
